.popup
  position: fixed
  background-color: rgba($colour-grey-dark-3,.2)
  width: 100%
  height: 100vh
  z-index: 300
  top: 0
  left: 0
  //display: none
  opacity: 0
  visibility: hidden
  transition: all .2s
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  @supports (-webkit-backdrop-filter: blur(10px)) or   (backdrop-filter: blur(10px))
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)
    background-color: rgba($colour-white,.3)
  &:target
    opacity: 1
    visibility: visible



  &__close
    &:link,&:visited
      color: $colour-grey-dark
      position: absolute
      top: 2.5rem
      right: 2.5rem
      font-size: 3rem
      text-decoration: none
      display: inline-block
      transition: all .2s
      line-height: 1

      &:hover
        color: $colours-primary



  &__content
    @include absolute__center
    width: 75%
    background-color: $colour-white
    box-shadow: 0 2rem 4rem rgba($colour-black, .2)
    border-radius: 3px
    display: table //dla nadrzędnego elementu table cell
    overflow: hidden
    opacity: 0
    transform: translate(-50%,-50%)scale(.2) // samo scale nie zadziała ponieważ już transformacja jest użyta w  w mixinie absolute__center
    transition: all .4s .2s //second value is delay

  &:target &__content //kiedy popup staje sie tergetem stylizyjemu element potomny
      opacity: 1
      transform: translate(-50%,-50%) scale(1) // samo scale nie zadziała ponieważ już transformacja jest użyta w  w mixinie absolute__center





  &__left
    width: 33%
    //float: left
    display: table-cell // zamiast float do wyrównania wysokości pudełek. Do wyrównania z pudłem img

  &__right
    width: 66%
    //float: left
    display: table-cell // zamiast float do wyrównania wysokości pudełek
    vertical-align: middle
    padding: 3rem 5rem
    backface-visibility: hidden




  &__img
    display: block
    width: 100%



  &__text
    font-size: 1.4rem
    margin-bottom: 4rem

    column-count: 2 //ilość kolumn
    column-gap: 4rem //margines kolumn
    column-rule: 1px solid $colour-grey-dark-2 //border do kolumn
    -webkit-hyphens: auto
    -ms-hyphens: auto
    -moz-hyphens: auto
    hyphens: auto //automatyczne dzielenie wyrazów
